body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 90vh;
}

.highlight {
    background-color: aquamarine;
    height: 50px;
}

#new-topic-button {
}